@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    padding: 100px;
}

.banner
{
    position: relative;
    min-height: 100vh;
    background: url(image/website-design-background-1.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-weight: 700;
    font-size: 1.5em;
}

.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn
{
    position: relative;
    background: #fff;
    display: inline-block;
    color: rgb(7, 3, 3);
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}